<a href="/SignUp">Sign Up</a> &nbsp;
<a href="/Login">Login</a> &nbsp;
<a href="/">Home</a> &nbsp;
<a href="/coupons">Coupons</a> &nbsp;
<a href="/combocoupons" onclick="">Combo Coupons</a> &nbsp;
<!-- <button type="button" onclick="getURL('cart')">Cart</button> &nbsp; -->

<br> <br>

<script>
    function getURL(url) {
        
    }
</script>